.pingindic-label {color : #FFE5CC; font-weight: bold}
.pingindic-label-good {color : #00FF00; font-weight: normal}
.pingindic-label-nogood {color : #FFFF00; font-weight: normal}
.pingindic-label-bad {color : #FF0000; font-weight: bold}
